DATABASE_HOST=db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=12345
DATABASE_NAME=api_development
DATABASE_NAME_TEST=api_test
DATABASE_NAME_PROD=api_production
DATABASE_PORT=5432
DATABASE_QUEUE_PROD=pi_queue_production

REDIS_URL=redis://redis:6379/0

EXCHANGE_API_DATE=latest
EXCHANGE_API_VERSION=v1
EXCHANGE_CURRENCIES=usd,brl,rub,inr,cny,zar
BASE_CURRENCY=USD
CSV_MAX_LINES=1000000

RAILS_MAX_THREADS=5
DB_POOL_SIZE=20
CSV_BATCH_SIZE=1000

DD_API_KEY=XXX
DD_SITE="us5.datadoghq.com"
DD_ENV=dev 